
/* General */
*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Main */
main{
    background-color: #111;
    color: aliceblue;
    display: grid;
}

/* Imagen */
img{
    border-radius: 10px;
    height: 75%;
    width: 70%;
    padding: 10% 10% 0% 10%;
    border-radius: 10px;
}

/* Container */
.grid-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* Item */
.grid-item{
    padding: 5%;
}

/* Grupo de botoner (tallas) */
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4%; 
    padding: 3%; 
}

/* Footer style */
footer{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #333;
    color: aliceblue;
    width: 100%;
}