/* General */
body{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #111;
}

/* Container con grid para colocar las tarjetas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr)); 
    gap: 10vh;
    justify-items: center;
  }

/* Estilo de las tarjetas */
.grid-item {
    background:#383636;
    color: aliceblue;
    padding: 1vh;
    border: 10vh 10vh white;
    margin: 1vh;
    min-height: 30vh;
    max-width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap ;
    overflow: hidden;
  }

/* Estilo de la img dentro de las cartas  */
.card img{
    height: 10vh;
}

/* Título */
h1{
    color: white;
    padding: 3%;
    background-color: #333;
    margin-bottom: 5%;
    margin: 2%;
}

/* Precio y Nombre */
h2, h3 {
    font-size: 120%;
    color: rgb(255, 255, 255);
} 

/* Footer style */
footer{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #333;
    color: aliceblue;
    width: 100%;
}
